<nav>
    <div class="site-title">
      <h1>Mini Message Board</h1>
    </div>
    <div class="btn-links">
      <button onclick="location.href='/'">Home</button>
      <button onclick="location.href='/new'">New Msg</button>
    </div>
</nav>